@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-main-color: #0e1133;
  --text-secondary-color: #fff;
  --red-color: #ff3e66;
  --blue-color: #2a6df5;
  --green-color: #32c36a;

  /* Background Colors */
  --background-main-color: #eef1f6;
  --background-light-color: #fff;
  --background-dark-color: #0e1133;

  /* Pointers Colors
    --red-pointer-color: var(--red-color);
    --blue-pointer-color: var(--blue-color);
    --green-pointer-color: #33c956; */

  /* Font Sizes */
  --font-hero: 5.8rem;
  --font-large: 3.2rem;
  --font-mid: 2.4rem;
  --font-small: 1.6rem;

  /* Global */
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  color: var(--text-color);
}

a:hover {
  color: var(--red-color);
}

strong {
  font-weight: 900;
}

.flex {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 2rem;
}

.btn {
  cursor: pointer;
  font-weight: 700;
  color: var(--text-secondary-color);
  background: var(--red-color);
  border: 2px solid transparent;
  padding: 1.2rem 2.4rem;
  text-transform: capitalize;
  display: inline-block;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn:hover {
  background: transparent;
  color: var(--red-color);
  border: 2px solid var(--red-color);
}

.icon {
  width: 1.8rem;
  /* height: 0.8rem; */
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: 6.4rem auto 0 auto;
  padding: 3.2rem 5.6rem;
}

.headLine {
  font-size: var(--font-large);
  margin-bottom: 1.8rem;
}
.secondary-line {
  font-size: var(--font-mid);
}
p {
  font-size: var(--font-small);
}

/* STYLE */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-main-color);
  color: var(--text-color);
  line-height: 1;
  margin: 0 auto;
  overflow-x: hidden;
}

/* NavBar */
.navbar {
  font-weight: 500;
  order: -1;
  justify-content: first baseline;
  gap: 5%;
  margin-top: 0;
}

.gta-btn {
  margin-left: auto;
}
.logo {
  cursor: pointer;
}
.nav-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: var(--font-small);
}
.nav-link:hover {
  fill: var(--red-color);
}
.nav-icon {
  width: 0.8rem;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);
}

/* **** */
/* Hero */
/* **** */
.hero {
  height: 80vh;
  align-items: center;
}
.header-content {
  min-width: 40rem;
  /* padding: 0 1.8rem; */
  flex-direction: column;
}
.hero-headline {
  font-size: var(--font-hero);
  font-weight: 400;
}

.mail-input-container {
  gap: 0.8rem;
  background-color: var(--background-light-color);
  padding: 1.2rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin: 1.2rem 0;
  border-left: 0.4rem solid var(--red-color);
  box-shadow: 0 0 2.4rem grey;
  max-width: 35rem;
  height: 5.2rem;
}
.mail-icon {
  fill: grey;
}
.mail-input {
  flex-grow: 1;
  border-color: transparent;
  outline-color: transparent;
  width: auto;
}
.arrow-icon {
  fill: var(--red-color);
  /* margin-left: auto; */
  padding-right: 0.2rem;
  width: var(--font-small);
}

.feedback-img {
  width: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px solid var(--background-light-color);
  margin-left: -3.2rem;
}

.first-feedback-img {
  margin-left: 0;
}

.feedback-container p {
  width: 3rem;
}

.hero-image {
  width: 60rem;
  margin: auto;
  align-self: flex-end;
}
